spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  output:
    ansi:
      enabled: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
